

*{
    padding:0;
    margin:0;
    }
    header {
        display: flex;
        align-items: center;
        background-color:rgb(107, 9, 9);
        padding: 10px;
    }
    img {
        height: 200px; /* Ajusta el tamaño según tu necesidad */
        margin-right: 15px;
    }
    h1 {
        font-family: Arial, sans-serif;
        font-size: 90px; /* Aumenta el tamaño del título */
        margin: 0;
        font-weight: bold; /* Hace que el texto sea más grueso */
    
    color:rgb(242, 242, 242);
    
    }
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
	
}


nav{
	max-width: 2000px;
	margin: auto;
	background-color:rgb(131, 197, 245);
	font-size: 20px;
	margin-top: 0;
}


.menu-horizontal{
	list-style: none;
	display: flex;
	justify-content: space-around;
}
.menu-horizontal > li > a{
	display: block;
	padding: 15px 20px;
	color: white;
	text-decoration: none;
}
.menu-horizontal > li:hover{
	background-color:steelblue;
}
.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: rgba(0, 0, 0, .5);
}
.menu-horizontal li:hover .menu-vertical{
	display: block;
}
.menu-vertical li:hover{
	background-color: black;
}

.menu-vertical li a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}

#html{
	margin: auto;
	padding: 20px;
	max-width: 900px;
	background: white;

}
{

    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    padding: 20px;
}




.container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    width: 100%;
    background-color: #dc2626;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #b91c1c;
}
.map-container {
    margin-top: 20px;
}

